 <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO HTML</title>
    <!-- seccion de creacion de favicon -->
    <link rel="shortcut icon" href="img/HTML5.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/ESTILOS RESPONSIVE.CSS">
</head>
<body>
<!-- Empezamos configuracion de PAGINA WEB RESPONSIVE- CSS GRID -->
<div id="grid-container">
<!-- seccion cabecera web -->
<header id="header">
    <img src="img/incap.png" width="100" height="100" alt="incap">
    <h1>APRENDER HTML CSS JAVASCRIPT PHP</h1>
</header>
<div class="openmenu"><i class="fas fa-bars"></i> </div><!-- ojojo-->
<!-- seccion menu navegacion -->
<nav id="menu">
<ul>
    <i class="fas fa-home"></i><li><a href="INDEX_RESPONSIVE.html">INICIO</a></li>
    <i class="fas fa-cart-arrow-down"></i><li><a href="#">PRODUCTOS</a></li>
    <i class="fas fa-charging-station"></i><li><a href="#">SERVICIO</a></li>
    <i class="fab fa-wpforms"></i><li><a href="EJERCICIO 1 SEMANA 5.html">CONTACTO</a></li>
</ul>
<!-- seccion buscador -->
<div class="buscarbox">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Buscar aqui....">
</div>
<!-- seccion registro usuario -->
<div id="reguser">
    <i class="fas fa-user"></i>
    <a href="#">REGISTRESE</a>
</div>
</nav>
<!-- SECCION CONTENIDO O PROGRAMAS -->
 <center>
    <section id="main">
      <figure>
          <img src="img/HTML5.png" width="100" height="100" alt="">
          <img src="img/css3.jpeg" width="100" height="100" alt="">
          <img src="img/javascrip.jpeg"width="100" height="100"  alt=""> 
      </figure>
      <br><!-- ojojo-->
<!--  seccion de articulos programas -->
     <article class="programa">
            <h1>SISTEMAS</h1>
            <img src="img/portatil 1.jpeg" width="100" height="100" alt="">
     </article>
     <article class="programa">
         <h1>DISE칌O GRAFICO</h1>
            <img src="img/dise;o.jpeg" width="100" height="100" alt="">
     </article>
     <article class="programa">
         <h1>CONTABILIDAD</h1>
            <img src="img/contabilidad.png" width="100" height="100" alt="">
     </article>
     <article class="programa">
         <h1>SEGURIDAD OCUPACIONAL</h1>
            <img src="img/seguridad ocupacional.jpg" width="100" height="100" alt="">
     </article>
     <article class="programa">
         <h1>ENFERMERIA Y SALUD ORAL</h1>
            <img src="img/salud oral.png" width="100" height="100" alt="">
     </article>
     <article class="programa">
         <h1>BANCA Y FINANZAS</h1>
            <img src="img/banca y finanzas.jpg" width="100" height="100" alt="">
     </article>
    </section>
 </center>
<!-- Seccion barra lateral -->
<aside id="sidebar">
 <h1>VIDEOS DE INTERES</h1>
 <br><br>
 <h1>APRENDE HTML</h1>
 <iframe width="250" height="265" src="https://www.youtube.com/embed/54Ky7OZ9Jmc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <br><br>
 <h1>APRENDE PHP</h1>
 <iframe width="250" height="265" src="https://www.youtube.com/embed/whpYinrcuSU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</aside>
<!-- Seccion footer -->
<footer id="footer">
   <div id="redes">
    <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.youtube.com"><i class="fab fa-youtube-square"></i></a>
    <a href="https://www.twitter.com"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://web.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
   </div>
<p>Derechos reservados &copy;2022@ DIEGO CALVO</p>
</footer>
<!-- este es el cierre div de grid-container -->
</div>  
</body>
</html>
[6:35 p.맔., 13/9/2022] ANDRES 游뱔 Incap: /* seccion INICIAL */
*{
    box-sizing: border-box;
    margin: 0; /* Inicializa margenes*/
    padding: 0;/* Inicializa padding*/
}
html{
    max-height: 100%; /* se adapte altura pag web cualq dispositivo*/
}
body{
    font-family: Tahoma;
    font-size: 18px;
}
/* seccion cabecera PC*/
#header{
    background-color: gray;
    border:2px solid darkgray;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: row;/direcci칩n horizontal o en fila/
    justify-content: center;/alinea horizontalmente/
    align-items: center;/alinea verticalmente/
    grid-area: header;/asigna nombre al contenedor/
}

/* seccion menu */
ul{
    padding: 0 0;
    margin: 0 1px;
}
li{
    display: inline;
    list-style: none;/* quitar las vi침etas*/
    margin: 0 5px;
    font: bold 12px Verdana;
}
a{
    color: white;
    text-decoration: none; /* quitar las lineas subrayadas*/
}
#menu{
    grid-area: nav;/* asigna nombre a contenedor*/
    background-color: gray;
    border:2px solid darkgray;
    border-radius: 22px;
    display: flex;
    flex-direction:row;
    justify-content:space-between; 
    align-items: center; 
    padding: 5px;
    margin:5px;
}
/* nuevo estilo para buscador */
.buscarbox input{
 height: 25px;
 width: 0px;
 padding:0px 0px;
 border-radius:40px;
 border:0px;
 padding-right: 50px;
 transition: 0.8s ease;    
}
/* Se aplica una pseudoclase hover para expandir ancho de buscador */
.buscarbox input:hover{
    width: 150px;
    padding-left: 10px;
    outline: none; /* quitar bordes*/
    } 

/* seccion contenido */
#main{
    grid-area: main;/* matricula nombre al contenedor section para grid*/
    background-color: white;
    border:2px solid darkgray;
    /* se define ancho y altura contenedor para ajustar a vista a dispositivo actual*/
    max-width:100%;
    height: auto;
}
figure, figcaption{
    display: inline;
    margin: 45px;
    padding: 5px 5px;   
}
.programa{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 5px;
    width: 45%;
    height: 200px;
    position: relative;
    border: 1px solid black; 
    border-radius: 15px 15px;
    }

section article{
    background-color: gray;
    width: 200px;
    margin: 20px;
    } 

/* seccion barra lateral */    
#sidebar{
        grid-area: sidebar;/* se asigna nombre a contenedor */
        display: flex;
        flex-direction: column;/* se define direcci칩n en forma columna*/
        justify-content: center; 
        align-items: center;
}
/* se define ancho y altura contenedor para ajustar a vista de dispositivo actual*/
iframe{
        max-width: 100%;
        height: auto;
  }

/* seccion pie de pagina*/
#footer{
    grid-area: footer;/* se asigna nombre a contenedor */
    background-color: gray;
    border:2px solid darkgray;
    border-radius: 20px 20px 10px 10px;
    clear:both;
 }

/* seccion CSS GRID DISE칌O WEB RESPONSIVE*/
/* Se define estilos al contenedor grid en general vista PC*/
#grid-container > * {
    text-align: center;
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
    }
/* Se define estilos al contenedor grid en general vista PC a 3 COL.*/
#grid-container{
    display:grid;
    grid-gap:10px; 
    grid-template: 
    "header header header" 150px
    "nav nav nav" 50px
    "main main sidebar" 300px
    "main main sidebar" 300px
    "main main sidebar" 250px
    "footer footer footer" 150px /
    1000px 150px 300px; 
    }
#redes a {
        padding: 0;
        margin: 0;
    }
#redes a i:hover{
     transform: scaleX(1.5);  
  }
/* Estilos a todos los iconos fontawesome */
i[class^="fa"]{
    color:black;
    font-size: 18px;
}
/iconos fontawesome BAR SOCIAL/
.fa-youtube-square{
    font-size: 32px;
    background-color: red;
}
.fa-facebook-square{
    font-size: 32px;
    background-color: blue;
}
.fa-twitter-square{
    font-size: 32px;
    background-color: deepskyblue;
}
.fa-whatsapp{
    font-size: 32px;
    background-color: lime;
}
.fa-instagram{
    font-size: 32px;
     background-color: purple;
}
/* ultimos cambios hechos a icono hamburgueza */
.fa-bars{
font-size: 30px;
color:black;
}
/* nuevo estilo menu hamburguesa */
.openmenu {
    display: none;
    cursor: pointer;
    font-size: 2 rem;
 }
/-----SECCION VISTA DE TABLETS------/
@media (max-width:1024px){
    #grid-container{
        grid-template: 
        "header header" 170px
        "nav main" 800px
        "nav main"  700px
        "sidebar sidebar" 650px
        "footer footer" 100px /
         250px 450px; 
         font-size: 75%;/Cambia el tama침o de la letra/
    }
    #menu{
        background-color: blue;
        border-radius: 22px;
        display: block;
        padding: 45px;
        margin:40px;
        height: auto;
        text-align: center;
    }
    #main{
    display: flex;
    flex-direction: column;/* cambia la forma de direccion de fila a col*/
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;/se define el auto ajuste de ancho dispostivo pasa a sgte. linea/
    max-width:100%;
       
    }
    .programa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    border: 1px solid black; 
    
}
iframe{
    max-width: 100%;
    height: auto;
}
.buscarbox{
    display:block;
    padding: 5px;
}
}
/----- SECCION VISTA DE CELULAR ------/
    @media (max-width:640px){
    #grid-container{
    grid-template: 
     "header" 150px
     "nav" 50px
     "main" 1400px
     "sidebar" 800px
     "footer" 100px /
      500px; 
      font-size: 60%;
    }
    /* Nota: la barra <nav> se programar치 con javascript_
      por medio de funciones en boton hamburguesa*/
    #menu{
        display: none;/* se oculta contenedor nav opciones*/
    } 
    /* se define que aparezca el menu hamburguesa en la parte superior*/
    .openmenu{
        display: block;
        position:absolute;
        top:10px;
        right:120px;
        z-index:99;/* se define capa encima del texto de contenido HTML*/
        cursor: pointer;
        }
    
    #main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        flex-wrap: wrap;
        max-width: 100%;
        height: auto;
      }
 .programa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    border: 1px solid black; 
    }
 iframe{
    max-width: 100%;
    height: auto;
}
.buscarbox{
    display:none;
}
}